* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Encabezado */

.encabezado {
  background-color: #FFA0E5;
  padding: 17px 48px;
  
}
 
.logo img {
  display: inline-block;
  width: 70px;
  height: 90px;
}

.logo h1 {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 50px;
}  

.menu ol {
  list-style: none;
  }

.inputBuscador {
  width: 248px;
  height: 35px;
  background-color: white;
  border-radius: 20px;
  border: none;
}

/* Main */

.primeraSeccion {
  padding: 30px 80px;
}

.primeraCard {
  width: 558px;
  height: 373px;
  background-color: #DDFFFF;
  padding: 18px 46px;
}

.primeraCard a {
  width: 100px;
  height: 40px;
  display: inline-block;
  background-color: #48CFED;
  padding: 6px 28px;
  margin-top: 20px;
}

.primeraCard img {
  width: 100px;
  height: 170px;
}



.segundaCard {
  background-color: #FEFFDD;
  width: 558px;
  height: 373px;
  padding: 18px 23px;
}

.segundaCard img {
  width: 315px;
  height: 236px;

}

/* Pie De Pagina */

.pieDePagina {
  padding: 21px 111px;
}

.pieDePagina ol {
  list-style: none;
}

.pieDePaginaLogo img {
  display: inline-block;
  width: 70px;
  height: 90px;
}

.pieDePaginaLogo h2 {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.chat {
  width: 130px;
  height: 130px;
  background-color: #E8B3A3;
  border-radius: 100%;
  padding: 45px;
}


/* desarrolloSexual */

.desarrolloSexual {
  padding: 52px 76px;
}

.desarrolloSexual img {
  width: 564px;
  height: 296px;
}

.prepuberalTexto {
  width: 420px;
  height: 420px;
  border: 1px solid #000000;
  border-radius: 20px;
}

.puberalTexto {
  width: 420px;
  height: 420px;
  border: 1px solid #000000;
  border-radius: 20px;
}

.postpuberalTexto {
  width: 420px;
  height: 420px;
  border: 1px solid #000000;
  border-radius: 20px;
}

/*metodos anticonceptivos*/

.metodosAnticonceptivos {
  padding: 74px 100px;
}

.metodosTemporales {
  padding: 55px 53px;
}

.circle {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-color: rgba(204, 0, 255, 0.17);
  padding: 106px;
  margin: 20px;
}


/*Mi periodo*/

.miPeridoInf {
  padding: 73px 97px;
}

.imgOvario {
  width: 349px;
  height: 256px;
  padding: 57px;
}


/*inicar sesion*/

.iniciarSesion {
  padding: 252px 103px;
  background-image: url("../img/fondo\ chicas.png");
  background-repeat: no-repeat;
  width: 100vw;
  background-size: 100%;
}

.InfIniciarSesion {
  background-color: white;
  width: 1073px;
  height: 626px;
}

.imgChicas {
  width: 475px;
  height: 626px;
  display: inline-block;
}

.textoChicas {
  padding: 81px 65px;
  display: inline-block;
  position: relative;
  bottom: 200px;
}