* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none;
}

.encabezado {
  background-color: #ffa0e5;
  padding: 17px 48px;
  display: flex;
  width: 100vw;
  align-items: flex-end;
  justify-content: space-between;
}

.logo img {
  display: inline-block;
  width: 70px;
  height: 90px;
}
.logo h1 {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.menu {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  list-style: none;
  gap: 40px;
  margin-bottom: 10px;
}
.menu:hover {
  display: flex;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  list-style: none;
  background-color: #ffddfc;
}
.dropdown-content li {
  margin-top: 10px;
}

.menu-service {
  display: none;
}

.inputBuscador {
  width: 248px;
  height: 35px;
  background-color: white;
  border-radius: 20px;
  border: none;
  margin-bottom: 10px;
}

.primeraSeccion {
  padding: 30px 80px;
  min-height: 600px;
  display: flex;
  justify-content: space-between;
}

.primeraSeccionInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 60%;
}

.infoPrimerTexto {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.infoPrimerTexto h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 45px;
  max-width: 530px;
}
.infoPrimerTexto p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.infoSegundoTexto {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 450px;
}
.texto h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 900;
  font-size: 25px;
}
.texto p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.infoSecundoTextoImgMobile {
  visibility: hidden;
  display: none;
}

.segundaSeccion {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.primeraCard {
  width: 558px;
  height: 373px;
  background-color: #ddffff;
  padding: 18px 46px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 50px;
}
.primeraCard h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}
.primeraCard a {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: 100px;
  height: 35px;
  display: inline-block;
  background-color: #48cfed;
  border-radius: 10px;
  padding: 6px 28px;
  margin-top: 20px;
}
.primeraCard p {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.primeraCard img {
  position: relative;
  bottom: 20px;
  width: 90px;
  height: 170px;
}

.primeraCardTest {
  display: flex;
}

.segundaCard {
  background-color: #feffdd;
  width: 558px;
  height: 373px;
  padding: 18px 23px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.segundaCard img {
  width: 450px;
  height: 250px;
}
.segundaCard h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 35px;
}

.pieDePagina {
  padding: 21px 111px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: flex-end;
  position: relative;
}
.pieDePagina ul {
  list-style: none;
}

.pieDePaginaLogo {
  position: absolute;
  right: 250px;
  bottom: 60px;
  display: flex;
  align-items: center;
}
.pieDePaginaLogo img {
  display: inline-block;
  width: 110px;
  height: 140px;
}
.pieDePaginaLogo h2 {
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.chat {
  width: 100px;
  height: 100px;
  background-color: #e8b3a3;
  border-radius: 100%;
  padding: 30px;
  bottom: 20px;
  left: 1150px;
  position: sticky;
  float: left;
  z-index: 2;
}

.servicio {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.servicio h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.servicio ul {
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  flex-direction: column;
  font-weight: 300;
  font-size: 20px;
  gap: 10px;
}

.desarrolloSexual {
  padding: 52px 76px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.desarrolloSexual h2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.desarrolloSexual img {
  width: 564px;
  height: 296px;
}

.desarrolloSexualInfo {
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 30px;
  gap: 40px;
  align-items: center;
  text-align: center;
}

.laPubertadDeLaMujer {
  display: flex;
  flex-direction: column;
  padding: 60px 110px 110px 110px;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
.laPubertadDeLaMujer h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.laPubertadDeLaMujer h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.laPubertadDeLaMujerInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prepuberalTexto {
  width: 420px;
  height: 420px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  gap: 20px;
}
.prepuberalTexto p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}

.puberalTexto {
  width: 420px;
  height: 420px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  gap: 20px;
}
.puberalTexto p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}

.postpuberalTexto {
  width: 420px;
  height: 420px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  gap: 20px;
}
.postpuberalTexto p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}

.metodosAnticonceptivosInfo {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 55px 100px;
}

.pastascondImg {
  grid-area: 1/1/2/2;
  width: 310px;
  height: 345px;
}

.infMetodosAnticonceptivos {
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.infMetodosAnticonceptivos h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  text-align: end;
}
.infMetodosAnticonceptivos p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-align: end;
}

.metodosTemporales {
  padding: 55px 53px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.4fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.metodosTemporales h2 {
  grid-area: 1/1/2/4;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
}

.infImplanteSubdermico {
  grid-area: 2/1/3/2;
}

.infAnticonceptivosOrales {
  grid-area: 2/2/3/3;
}

.infAnticonceptivosDeEmergencia {
  grid-area: 2/3/3/4;
}

.infDispositivoIntrauterinoHormonal {
  grid-area: 3/1/4/2;
}

.infCondon {
  grid-area: 3/2/4/3;
}

.infInyeccionMensualOTrimestral {
  grid-area: 3/3/4/4;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background-color: rgba(204, 0, 255, 0.17);
  margin: 20px;
}
.circle p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
.circle p:last-child {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  max-width: 195px;
}

.miPeridoInf {
  padding: 73px 97px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 0.6fr);
  grid-column-gap: 0px;
  grid-row-gap: 50px;
  max-height: 680px;
}
.miPeridoInf h2 {
  grid-area: 1/1/2/2;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}
.miPeridoInf p {
  grid-area: 2/1/3/2;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

.imgOvario {
  width: 349px;
  height: 256px;
  grid-area: 3/1/4/2;
  justify-self: center;
}

.imgClicloMens {
  padding: 65px;
}

.iniciarSesion {
  padding: 252px 103px;
  background-image: url("../img/fondo chicas.png");
  background-repeat: no-repeat;
  width: 100vw;
  background-size: 100%;
}

.InfIniciarSesion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 1073px;
  height: 626px;
  border-radius: 100px;
}

.imgChicas {
  width: 475px;
  height: 626px;
  display: inline-block;
}

.textoChicas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  height: 440px;
  margin-left: 65px;
}
.textoChicas h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 35px;
  text-align: center;
}
.textoChicas input {
  min-width: 471px;
  background: rgba(252, 239, 241, 0.66);
  border: 1px solid black;
  border-radius: 200px;
  height: 53px;
  margin-bottom: 35px;
}
.textoChicas label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: start;
}
.textoChicas p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.textoChicas h4 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 130px;
  color: #ffffff;
  width: 217px;
  height: 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background: rgba(116, 82, 255, 0.84);
  border-radius: 300px;
}
.textoChicas h3 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 60px;
  left: 670px;
  color: #ffffff;
  width: 217px;
  height: 38px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background: rgba(116, 82, 255, 0.84);
  border-radius: 300px;
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .menu {
    font-weight: 400;
    font-size: 20px;
    min-width: 100%;
    gap: 10px;
    justify-content: center;
  }
  .buscador {
    visibility: hidden;
    display: none;
  }
  .encabezado {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px;
  }
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .logo h1 {
    font-weight: 400;
    font-size: 25px;
  }
  .logo img {
    width: 35px;
    height: 45px;
  }
  .dropdown-content {
    min-width: 100px;
  }
  .primeraSeccionImg {
    visibility: hidden;
    display: none;
  }
  .infoSecundoTextoImgMobile {
    visibility: visible;
    display: initial;
  }
  .primeraSeccion {
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    gap: 40px;
    min-height: unset;
    text-align: center;
  }
  .infoPrimerTexto h2 {
    font-size: 20px;
    max-width: 530px;
  }
  .infoPrimerTexto p {
    font-weight: 300;
    font-size: 10px;
  }
  .primeraSeccionInfo {
    max-width: 100%;
  }
  .infoSegundoTexto h3 {
    font-weight: 700;
    font-size: 20px;
  }
  .infoSegundoTexto p {
    font-weight: 300;
    font-size: 10px;
  }
  .infoSecundoTextoImg {
    visibility: hidden;
    display: none;
  }
  .segundaSeccion {
    visibility: hidden;
    display: none;
  }
  .pieDePagina {
    background-color: #ffa0e5;
    padding: 30px 30px 60px 30px;
  }
  .chat {
    visibility: hidden;
    display: none;
  }
  .servicio {
    gap: 10px;
  }
  .servicio h4 {
    font-size: 10px;
  }
  .servicio ul {
    font-size: 10px;
    gap: 10px;
  }
  .pieDePaginaLogo {
    right: 30px;
    bottom: 80px;
  }
  .pieDePaginaLogo img {
    width: 50px;
    height: 60px;
  }
  .pieDePaginaLogo h2 {
    font-size: 20px;
  }
  .contacto {
    position: absolute;
    left: 120px;
    bottom: 0;
  }
  .contacto img {
    width: 35px;
    height: 35px;
  }
  .desarrolloSexual {
    padding: 20px;
  }
  .desarrolloSexual h2 {
    font-size: 20px;
  }
  .desarrolloSexualInfo {
    gap: 10px;
  }
  .desarrolloSexualInfo img {
    width: 200px;
    height: 75px;
  }
  .desarrolloSexualInfo p {
    font-size: 10px;
    text-align: center;
  }
  .laPubertadDeLaMujer {
    padding: 20px;
    justify-content: none;
    gap: 20px;
  }
  .laPubertadDeLaMujer h2 {
    font-size: 20px;
  }
  .laPubertadDeLaMujer h3 {
    font-size: 13px;
  }
  .laPubertadDeLaMujerInfo {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .prepuberalTexto {
    width: 162px;
    height: 162px;
    padding: 10px;
    gap: 10px;
  }
  .prepuberalTexto p {
    font-size: 10px;
  }
  .puberalTexto {
    width: 162px;
    height: 162px;
    padding: 10px;
    gap: 10px;
  }
  .puberalTexto p {
    font-size: 10px;
  }
  .postpuberalTexto {
    width: 162px;
    height: 162px;
    padding: 10px;
    gap: 10px;
  }
  .postpuberalTexto p {
    font-size: 10px;
  }
  .metodosAnticonceptivosInfo {
    padding: 20px 13px;
    height: 200px;
  }
  .pastascondImg {
    width: 80px;
    height: 100px;
    margin-top: 50px;
  }
  .infMetodosAnticonceptivos {
    gap: 10px;
    min-height: 400px;
  }
  .infMetodosAnticonceptivos h2 {
    font-size: 20px;
  }
  .infMetodosAnticonceptivos p {
    font-size: 10px;
  }
  .metodosTemporales {
    padding: 20px 13px;
    grid-row-gap: 20px;
  }
  .metodosTemporales h2 {
    font-size: 20px;
  }
  .circle {
    width: 100px;
    height: 100px;
    margin: 0;
    gap: 0;
  }
  .circle img {
    width: 35px;
    height: 35px;
  }
  .circle p {
    font-size: 8px;
  }
  .circle p:last-child {
    font-size: 8px;
    max-width: 80px;
  }
  .miPeridoInf {
    padding: 20px 16px;
    grid-row-gap: 10px;
  }
  .miPeridoInf h2 {
    font-size: 20px;
  }
  .miPeridoInf p {
    font-size: 8px;
  }
  .imgOvario {
    width: 108px;
    height: 80px;
  }
  .imgClicloMens {
    padding: 30px;
    width: 320px;
    height: 450px;
  }
  .imgChicas {
    display: none;
    visibility: hidden;
  }
  .iniciarSesion {
    padding: 50px;
    background-size: cover;
  }
  .InfIniciarSesion {
    width: 230px;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
  }
  .textoChicas {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .textoChicas h2 {
    font-size: 20px;
    margin: 0;
  }
  .textoChicas label {
    font-size: 8px;
    margin: 0;
  }
  .textoChicas p {
    font-size: 8px;
    margin-bottom: 0;
  }
  .textoChicas h4 {
    width: 90px;
    height: 30px;
    font-size: 8px;
  }
  .textoChicas input {
    min-width: 155px;
    height: 30px;
    margin-bottom: 0px;
  }
  .textoChicas h3 {
    display: none;
    visibility: hidden;
  }
}

/*# sourceMappingURL=styles.css.map */
