$font-family_normal_roboto: "Roboto", sans-serif;
$font-family_roboto: "Roboto Condensed", sans-serif;

$font_size_10: 10px;
$font_size_20: 20px;
$font_size_30: 30px;
$font_size_40: 40px;
$font_size_50: 50px;
$font_size_60: 60px;

$font-weight_small: 300;
$font-weight_normal: 400;
$font-weight_bold: 700;
